:root,
*,
*::before,
*::after {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


html,
body {
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


.main-body {
    background-color: #bbb69e;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    &::before {
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url("./assets/noise.png");
        z-index: 1;
        top: 0px;
        left: 0px;
        content: "";
        pointer-events: none;
        opacity: 0.5;
        background-repeat: repeat;
        background-position: center center;
        background-size: 4500px;
        mix-blend-mode: soft-light;
        filter: blur(3px);
    }



    .bg-logo {
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) skew(-10deg, -5deg);
        height: 120%;
        opacity: 0.075;
        z-index: 0;
    }

    .content-container {
        display: flex;
        margin: 100px;

        .students-list {
            display: flex;
            flex-direction: column;
            font-family: 'JetBrains Mono', monospace;
            width: 500px;

            .header {
                background-color: white;
                text-transform: uppercase;
                text-align: center;
                padding: 8px 0;
            }

            ul {
                width: 100%;
                list-style: none;
                padding: 0;

                li>div {
                    display: flex;
                    background-color: rgba(0, 0, 0, .7);
                    margin: 4px 0;
                    color: white;
                    text-transform: uppercase;
                    padding: 6px;
                    align-items: center;

                    &:hover {
                        background-color: #de2d00;
                        cursor: pointer;
                    }

                    .s-badge {
                        color: black;
                        padding: 1px 4px;
                        margin-right: 10px;
                        background-color: #F49FBC;

                        &.m {
                            background-color: #5CB8FF;
                        }
                    }
                }
            }
        }

        .student-picture {
            width: 300px;
            max-width: 300px;
            opacity: 0.75;

            img {
                width: 100%;
                filter: blur(0.5px);
            }
        }
    }
}